body {
  margin: 0;
  padding: 0;
  background-color: #07361d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  height: 4rem;
  display: flex;
  background-color: #325a13;
  align-items: center;
  justify-content: space-between;
}

.right-links {
  display: flex;
  flex-direction: row;
}

.navElement {
  background-color: #d9d9d9;
  font-size: 1.25rem;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  margin-left: 3rem;
}

.fa-house {
  display: flex;
  justify-content: center;
}

.fa-plus {
  display: flex;
  justify-content: center;
}

.fa-right-to-bracket {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-user {
  display: flex;
  justify-content: center;
}

.profilePage {
  margin-right: 3rem;
}

.login {
  margin-right: 3rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #325a13;
}

a:hover {
  color: #325a13;
}

a:active {
  color: #325a13;
}

.searchSet button {
  height: 35px;
  width: 35px;
  font-size: 1.25rem;
  color: #d9d9d9;
  background-color: #07361d;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  border: none;
  outline: none;
}

.searchSet button:hover {
  color: #325a13;
  cursor: pointer;
}

.searchSet input {
  background-color: #07361d;
  color: #d9d9d9;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem;
  width: 22rem;
  border: none;
  outline: none;
  height: 19px;
}

.addSet {
  margin-right: 3rem;
}

.main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.quizzes {
  margin: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #325a13;
  border-radius: 1rem;
}

.quizzes p {
  font-size: 1.25rem;
  color: #d9d9d9;
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.setSpace {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.recommendations h1 {
  font-size: 2rem;
}

.recommTitle {
  font-size: 2rem;
  padding-left: 1.25rem;
}

.nothingFound {
  font-size: 2.25rem;
  padding-left: 1rem;
  color: #d9d9d9;
}

.searchedSets {
  margin-bottom: 5rem;
}

.searchedQuizzes {
  margin: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #325a13;
  border-radius: 1rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.175rem;
  padding-bottom: 0.175rem;
}

.searchedQuizzes p {
  font-size: 1.25rem;
  color: #d9d9d9;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 3px solid #d9d9d9;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.nameInput {
  width: 70%;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-bottom: 0.75rem;
  outline: none;
  border: none;
}

.nameInput:focus {
  outline: 2px solid #325a13;
}

.passwordInput {
  width: 70%;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-bottom: 2.875rem;
  outline: none;
  border: none;
}

.passwordInput:focus {
  outline: 2px solid #325a13;
}

.submitLogin {
  font-size: 1.25rem;
  width: 70%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #325a13;
  outline: none;
  border: none;
  color: #d9d9d9;
}

.submitLogin:hover {
  cursor: pointer;
}

.linkDiv {
  width: 40%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.125rem;
}

.wrongCredentials {
  font-size: 1.125rem;
  color: red;
}

.profileTitle {
  font-size: 2.75rem;
}

.usernameTag {
  font-size: 3.5rem;
  color: #d9d9d9;
}

.headSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.createSetButton {
  background-color: #325a13;
  /* height: 4rem; */
  font-size: 1.75rem;
  margin-right: 10rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1.25rem;
  color: #d9d9d9;
}

.createSetButton:hover {
  cursor: pointer;
}

.noSets {
  font-size: 2.25rem;
  margin-top: 3rem;
}

.logOutText {
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-align: center;
}

.registerLink:hover {
  text-decoration: underline;
}

.logOutButton {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
  padding: 1rem;
  width: 25%;
  justify-content: center;
  border-radius: 1rem;
  background-color: #325a13;
  border: none;
  outline: none;
}

.logOutButton:hover {
  cursor: pointer;
}

.registrationText {
  text-align: center;
  margin-top: 3rem;
}

.loginText {
  text-align: center;
  margin-top: 3rem;
}

.noUserModal {
  background-color: #325a13;
  width: 25%;
  text-align: center;
  border-radius: 1rem;
}

.closeModalButton {
  font-size: 1.5rem;
  border-radius: 0.75rem;
  height: 3rem;
  width: 7rem;
  background-color: #d9d9d9;
  border: none;
  outline: none;
}

.closeModalButton:hover {
  cursor: pointer;
}

dialog::backdrop {
  background-color: hsla(136, 37%, 14%, 0.5);
}

.addQuizTitle {
  color: #d9d9d9;
  margin-top: 12rem;
  text-align: center;
}

.titleForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}

.titleInput {
  font-size: 1.5rem;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  border: solid #d9d9d9 1px;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 0.5rem;
  background-color: #07361d;
  color: #d9d9d9;
}

.titleSubmitButton {
  width: 30%;
  font-size: 1.25rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #325a13;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #d9d9d9;
  margin-top: 1rem;
}

.questionsTitle {
  color: #d9d9d9;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.questionsForm {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-bottom: 1rem;
  border-bottom: solid #325a13 2px;
}

.languageInput {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border: solid #d9d9d9 1px;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 0.5rem;
  background-color: #07361d;
  color: #d9d9d9;
}

.submitQuestionButton {
  font-size: 1.25rem;
  width: 45%;
  background-color: #325a13;
  border: none;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: 2rem;
  color: #d9d9d9;
}

.addAnotherTermButton {
  font-size: 1.25rem;
  width: 10%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #325a13;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-left: 2rem;
  color: #d9d9d9;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.termAndTranslation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid #325a13 1px;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
}

.language {
  margin-right: auto;
  margin-left: auto;
  color: #d9d9d9;
  font-size: 1.125rem;
  text-align: start;
}

.languageInputs {
  display: flex;
  flex-direction: row;
  border-bottom: solid #325a13 2px;
}

.cardPlace{
  width: 70%;
  height: 30rem;
  perspective: 100rem;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-inline: auto;
}

.questionCard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 700ms;
  transform-style: preserve-3d; 
}

.cardPlace:hover > .questionCard{
  cursor: pointer;
  transform: rotateX(180deg);
}

.frontSide,
.backSide{
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  background-color: #325a13;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d9d9d9;
  font-size: 1.5rem;
  box-shadow: 0 0 .5rem 0.25rem rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.backSide{
  transform: rotateX(180deg);
}

.buttonPlace{
  display: flex;
  justify-content: center;
  gap: 3rem
}

.buttonPlace *{
  height: 3rem;
  width: 3rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  color: #07361d
}
